.date-cell{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 50%;
}
.date-cell-enable{
    border: 1px solid blue;
}
.date-cell-enable:hover{
    cursor: pointer;
    border: 3px solid green;
    transition: 0.5s;
}
.date-cell-disable{
    background-color: lightgray;
    border: 1px solid red;
}
.date-cell-selected{
    border: 3px solid green;
}
.date-cell-possible{
    border: 3px solid yellow;
}
.date-cell-possible:hover{
    cursor: pointer;
}