body{
    margin: 0px;
}
.main-footer{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #f5f5f5;
}
.social-networks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
}
.social-network-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}