.offer-info-helper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
.offer-info{
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
.offer-property{
    min-height: 100px;
    border-bottom: 1px solid black;
    font-size: 20px;
}
.offer-property span{
    font-size: 20px;
}
.offer-dates{
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.offer-functions{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.offer-functions-button{
    width: 150px;
    height: 80px;
}
#clear-button{
    display: none;
}
#book-button{
    display: none;
}
#hidden-offer-id{
    display: none;
}