body{
    margin: 0;
    padding: 0;
}
.form-div{
    width: 100%;
    height: calc(100vh - 156px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form{
    border: 1px solid black;
}
.form-item{
    margin: 20px 20px;
}
.submit-button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
.custom-slider{
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-bottom: 20px;
    height: calc(100vh - 156px);
}
.custom-slider-item img{
    width: 100%;
    height: 100%;
}
.data{
    width: 100%;
    height: calc(100vh - 156px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-info{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
}
.user-data{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-property{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-helper{
    font-family: 'Arvo', serif;
    font-weight: bold;
}