body{
    text-decoration: none;
}
.email-not-confirm{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.user-photo-upload{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-photo-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.user-photo-img{
    max-height: 250px;
    max-width: 250px;
}
.user-options-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.user-options{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.user-option{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.user-option a{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}
.user-offer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.offer-photo img{
    max-width: 250px;
    max-height: 250px;
}
.offer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.empty-list{
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
}
.offers-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.reservation-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}