.add-new-offer-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.add-new-offer-form form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10%;
}
.form-item label{
    font-weight: bold;
    font-size: 16px;
}
.add_photos_form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.add_photos_form form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.offer-photo_adding{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer-photo-adding-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#content{
    display: none;
}